<app-navbar></app-navbar>
<div class="ml-20 mt-5 mb-4 mr-20 text-gray-800 border-b border-gray-300">
  <h1 class="ml-20 text-4xl flex font-bold align-center pb-2">New Post</h1>
</div>
<form class="p-4 md:p-5" [formGroup]="posts">
  <div class="grid gap-4 mb-4 grid-cols-5 ml-20 mr-20">
    <div class="col-span-5">
      <label
        for="name"
        class="block mb-2 text-sm font-bold text-3xl text-gray-900 dark:text-white"
        >Add text post</label
      >
      <input
        type="text"
        formControlName="text"
        class="bg-gray-50 border border-gray-300 pl-10 pt-9 pb-9 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        placeholder="Add text message here"
        required=""
      />
    </div>

    <div class="col-span-5">
      <label
        for="image"
        class="block mb-2 text-sm font-bold text-3xl text-gray-300 dark:text-white"
        >Image</label
      >
      <input
        type="file"
        formControlName="image"
        class="bg-gray-50 border border-gray-300 pl-10 pt-20 pb-20 text-gray-300 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        placeholder="Image url"
        required=""
      />
    </div>

    <button
      type="submit"
      class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-2xl text-sm pl-10 px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      <svg
        class="me-1 -ms-1 w-5 h-5"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
          clip-rule="evenodd"
        ></path>
      </svg>
      Add Post
    </button>
  </div>
</form>
