<body class="bg-gray-100 h-100% flex items-center justify-start p-5">

<aside class="bg-white h-screen left-0 p-6 shadow-lg w-30 flex flex-col items-center">

     <h2 class="text-4xl mt-16 mb-5 font-bold ">
        Talky
    </h2>

    <div class="mb-16 mt-16 flex">
        <i class="fas fa-bars text-4xl text-gray-600"></i>
        
    </div>

    <div class="mb-16">
        <i class="fas fa-home text-4xl text-gray-600"></i>
    </div>

    <div class="mb-16">
        <i class="fas fa-search text-4xl text-gray-600"></i>
    </div>

    <div class="mb-16">
        <i class="fas fa-plus text-4xl text-gray-600"></i>
    </div>

    <div>
        <img src="https://placekitten.com/40/40" alt="User Profile" class="w-12 h-12 rounded-full mb-16">
    </div>
</aside>
<div class="">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzAAz15VhHBCdia2fIeYNGC7QKvB_xjKVG-g&usqp=CAU" alt="Largetha" class=" w-full h-100 ml-16 top-3 mb-35 object-cover rounded-lg">
    <h2 class="mb-40 ml-16 text-2xl font-bold">
        The second raid to the East was creepy but a nice experince
    </h2>

    <div class="flex ml-16 mb-50 ">
        <img src="https://placekitten.com/40/40" alt="User Profile" class="w-12 h-12 rounded-full mb-16">
        <p class="font-bold mr-14">Joshua Ochieng</p>
        <i class="fas fa-thumbs-up text-4xl text-gray-600">0</i>
        <i class="fas fa-thumbs-down text-4xl text-gray-600 ml-7">0</i>
        <i class="fas fa-comment text-4xl text-gray-600 ml-16">0</i>
    </div>
</div>

</body>


