<app-navbar></app-navbar>
<div class="ml-20 mt-5 mb-4 mr-20 text-gray-800 border-b border-gray-300">
  <h1
    class="ml-20 text-4xl flex font-bold align-center  pb-2"
  >
    Comments
  </h1>
</div>
<div class="ml-20">
    <div class="flex flex-col mb-5">
        <div class="flex mt-4 ml-3">
        <img
          src="https://placekitten.com/40/40"
          alt="User Profile"
          class="w-10 h-10 rounded-full mb-2"
        />
        <p class="font-bold text-2xl mr-14">Joshua Ochieng</p>
      </div >
      <p class="  text-2xl ml-3">
         I was really afraid they were going to be defeated but they never dissapoint
      </p>
      <div class="ml-5">
           <i class="fas fa-thumbs-up text-2xl text-gray-600 mt-3">0</i>
      <i class="fas fa-thumbs-down text-2xl text-gray-600 ml-7 mt-3">0</i>
      <i class="fas fa-comment text-2xl text-gray-600 ml-16 mt-3">0</i>
      </div>
      </div>

      <div class="flex flex-col mb-5">
        <div class="flex mt-4 ml-3">
        <img
          src="https://pbs-prod.linustechtips.com/monthly_2020_11/rave_avatar_by_xurnam-d6g24dq.thumb.png.92c6675cf40a7d2be4fd88380bcb64f9.png"
          alt="User Profile"
          class="w-10 h-10 rounded-full mb-2"
        />
        <p class="font-bold text-2xl mr-14">James Marley</p>
      </div >
      <p class="  text-2xl ml-3">
         This was really beyond our expectations, in deed it was great, thumbs up my legends
      </p>
      <div class="ml-5">
           <i class="fas fa-thumbs-up text-2xl text-gray-600 mt-3">0</i>
      <i class="fas fa-thumbs-down text-2xl text-gray-600 ml-7 mt-3">0</i>
      <i class="fas fa-comment text-2xl text-gray-600 ml-16 mt-3">0</i>
      </div>
      </div>
</div>
